body{
    background-color:plum;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.you{
    width:500px;
    background-size:100%;
    background-color:white;
    background-image:url("/asset/images/picture-project-3.jpeg") 
}
.me{
    width:500px;
    background-color:white;
    height: 360px;
}
section{
    display: flex;
    gap:50px;
    height:70vh;
    align-items: center;
    background-color:white;
    justify-content: center;
    /* margin-top: 50px; */
    border-radius:20px;
}